/*Cuerpo HTML*/
body {
  font-family: 'Arvo', serif;
  background-image: url(../imagen/twitter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}
/*Barra inicial de Twitter*/
.barra {
  background-color: #01A9DB;
  color: white;
  margin-bottom: 30px
}
.fa-twitter, .titulo {
  display: inline-block;
}
.fa-twitter {
  margin-left: 540px;
  font-size: 35px;
}
.titulo {
  font-size: 35px;
  margin-left: 10px;
}
/*Section donde está contenida la imagen de fondo, más los dos divs (uno de texto plano, y otro un Textarea con un botón)*/
.imagen {
  padding-bottom: 20px;
}
.cuadro1, .input {
  display: table;
}
.cuadro1 {
  background-color: white;
  opacity: 0.9;
  padding-right: 270px;
  padding-bottom: 40px;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.palabra1 {
  font-size: 30px;
  margin-left: 30px;
}
.frase1, .frase2, .link {
  font-size: 20px;
  display: block;
  margin-left: 30px;
}
.frase2 {
  margin-top: 5px;
}
.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #01A9DB;
  margin-top: 100px;
}
.input {
  width: 550px;
  height: 317px;
  background-color: white;
  opacity: 0.9;
  margin-left: 655px;
  margin-top: -417px;
}
.linea {
  width: 500px;
}
.escritura {
  width: 530px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
}
.click {
  background-color: #01A9DB;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
#contador {
  margin-left: 10px;
}
/*El div que aparece debajo de la section que es creada por JS*/
.cuadro3 {
  background-color: white;
  width: 1100px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 5px;
  margin-left: 68px;
  margin-top: 10px;
}
